body {
  font-family: 'Slackey', cursive;
}

form#player2 {
  display: none;
}
span#start {
  display: none;
}
div.game-mode {
  display: none;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
}
